
body {
    background-image: url("../Basic-Portfolio-2/Assets/yosemite.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.row { 
    margin-right: 0;
    margin-left: 0;
}

.navbar {
    background: linear-gradient(-90deg, rgb(43, 45, 51), rgb(65, 73, 99));
    border-bottom: 1px solid #1d1d1d;
}

.navbar-brand {
    font-weight: 600;
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
}

.nav-item {
    color: black;
}

/* Home page main content styling */

.main-container {
    margin-top: 120px;

}

.content-box {
    background-color: rgb(35, 92, 114, 0.9);
    display: flex;
    align-items: flex-start;
    margin: auto;
    max-width: 960PX;
    width: 100%;
    padding: 10px;
    /* padding-left: 20px;
    padding-right: 20px; */
    border-top: 0.25px solid rgb(34, 34, 34);
    border-bottom: 0.25px solid rgb(34, 34, 34);
}

.profile-image {
    float: left;
    padding: 10px;
    padding-right: 15px;
    max-width: 200px;
    max-height: 225px;
    transition: all .2s ease-in-out;
}

.profile-image:hover {
    transform: scale(1.05)
}


.header {
    color: rgb(39, 39, 39);
    font-weight: 600;
    border-bottom: 2px solid rgb(39, 39, 39);
    max-width: 915px;
    padding-bottom: 10px;
    padding-left: 13px;
}

.p-index {
    line-height: 35px;
    padding: 10px;
    color: white;
}

/* Clickable image link styling */

.logo_container {  
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.logo_1 {
    /* filter: grayscale(100%); */
    display: inline-block;
    margin: 10px;     
    max-width: 100px;
    max-height: 100px;
    transition: all .2s ease-in-out;
}


.logo_2 {
    filter: hue-rotate(-176deg);
    /* filter: grayscale(100%); */
    display: inline-block;
    margin: 10px;
    max-width: 100px;
    max-height: 100px;
    transition: all .2s ease-in-out;
}

.logo_3 {
    filter: hue-rotate(-102deg);
    /* filter: grayscale(100%); */
    display: inline-block;
    margin: 10px;
    max-width: 100px;
    max-height: 100px;
    transition: all .2s ease-in-out;
}

.logo_1:hover {
    transform: scale(1.05);
}

.logo_2:hover {
    transform: scale(1.05);
}

.logo_3:hover {
    transform: scale(1.05);
}

.container {
    margin-top: 150px;
}

.portfolio-image {
    display: flex;
    justify-content: center;
    border: 2px solid blue;
    height: 200px;
    display: flex;
    margin-top: 30px;
}

.col-md-6 {
    display: block;
    justify-content: space-between;
}

/* Footer styling */

footer {
    text-align: center;
    background: linear-gradient(-90deg, rgb(43, 45, 51), rgb(65, 73, 99));
    margin: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;    
}